html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(250, 240, 230);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media print {
  body,
  html,
  #print {
    height: 100% !important;
    width: 100% !important;
    display: inline-block;
  }
  #navbar{
    display: none;
  }
  #paper{
    display: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
